*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/week2-032.TheSumOfSetOfNumbers/build/
/week2-033.TheSumBetweenTwoNumbers/build/
/week2-034.Factorial/build/
/week2-035.SumOfThePowers/build/
/week2-036.LoopsEndingRemembering/build/
/week2-037.PrintingOutText/build/
/week2-038.ManyPrints/build/
/week2-039.Printing/build/
/week2-040.PrintingLikeboss/build/
/week2-040.PrintingLikeboss/dist/
/week2-041.GuessingNumberGame/build/
/week2-042.Hangman/build/
/week3-046.AverageOfGivenNumbers/nbproject/private/
/week3-043.SumOfNumbers/nbproject/private/
/week3-047.LengthOfName/nbproject/private/
/week3-044.Least/nbproject/private/
/week3-045.Greatest/nbproject/private/
/week3-049.LastCharacter/nbproject/private/
/week3-048.FirstCharacter/nbproject/private/
/week3-052.ReversingName/nbproject/private/
/week3-050.SeparatingFirstCharacters/nbproject/private/
/week3-051.SeparatingCharacters/nbproject/private/
/week3-054.TheEndPart/nbproject/private/
/week3-055.WordInsideWord/nbproject/private/
/week3-053.FirstPart/nbproject/private/
/week3-056.ReversingText/nbproject/private/
/week3-057.Words/nbproject/private/
/week3-058.RecurringWord/nbproject/private/
/week3-060.WordsInAlphabeticalOrder/nbproject/private/
/week3-059.WordsInReverseOrder/nbproject/private/
/week3-062.RemoveLast/nbproject/private/
/week3-061.NumberOfItems/nbproject/private/
/week3-063.SumOfNumbers/nbproject/private/
/week3-068.MoreThanOnce/nbproject/private/
/week3-066.TheGreatest/nbproject/private/
/week3-065.LengthsOfStrings/nbproject/private/
/week3-067.TheVariance/nbproject/private/
/week3-064.AverageOfNumbers/nbproject/private/
/week3-070.CombiningArrayLists/nbproject/private/
/week3-069.Palindrome/nbproject/private/
/week3-071.SmartCombining/nbproject/private/
/week3-043.SumOfNumbers/build/
/week3-044.Least/build/
/week3-045.Greatest/build/
/week3-046.AverageOfGivenNumbers/build/
/week3-047.LengthOfName/build/
/week3-048.FirstCharacter/build/
/week3-049.LastCharacter/build/
/week3-050.SeparatingFirstCharacters/build/
/week3-051.SeparatingCharacters/build/
/week3-052.ReversingName/build/
/week3-053.FirstPart/build/
/week3-054.TheEndPart/build/
/week3-055.WordInsideWord/build/
/week3-056.ReversingText/build/
/week3-057.Words/build/
/week3-058.RecurringWord/build/
/week3-059.WordsInReverseOrder/build/
/week3-060.WordsInAlphabeticalOrder/build/